<footer class="footer">
  <small>
<<<<<<< HEAD
    <%= link_to "Yet Another Photo Sharing App",   about_path %>
=======
    <a href="yapsa.herokuapp.com">Yet Another Photo Sharing App</a>
>>>>>>> 46c3798b76ba84da3be1934ecf4ea219405699f3
    by <a href="https://ca.linkedin.com/in/garychungsy">Gary Chung</a>
  </small>
  <nav>
    <ul>
<<<<<<< HEAD
      <!--<li><%= link_to "About",   about_path %></li>-->
      <!--<li><%= link_to "Contact", contact_path %></li>-->
=======
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
>>>>>>> 46c3798b76ba84da3be1934ecf4ea219405699f3
    </ul>
  </nav>
</footer>